/**
 * Styles for the add-observation.html page 
 *      Name: Jay Ashishbhai Patel
 *      Student ID: 154925192
 *      Email: japatel31@myseneca.ca
 *      website: https://jaypatel1331.github.io/final-assessment/src/index.html
 */

 /**
 * Styles for the add-observation.html page 
 */

 .required:after {
    content: "* ";
    color: red;
}

#description{
    width: 550px;
}

 #latitudeDiv{
    color: red;
    
  
 }
 #longitudeDiv{
    color: red;
    
 }

 #latitudeDiv::before{
    content: " "
  
 }

 #longitudeDiv::before{
    content: " "
  
 }

 #labelLatitude{
    color: black;
 }
 #labelLongitude{
    color: black;
 }